*{
  margin: 0;
  padding: 0;
}
body{
  margin: 0;
  padding: 0;
}
.nav{
  display: flex;
  width: 100%;
  height: 60px;
  background: #80d8ff;
  border-bottom: 5px solid red;
}
ul{
  margin: 30px 50px;
  padding: 0;
}
ul li {
  display: inline;
  margin: 20px;
  background: transparent;
  border-bottom: 2px solid #7986cb;

}

ul li a{
  text-decoration: none;
  color: black;
  font-size: 20px;
  display: inline-block;

}
ul li a:hover{
  color: #e91e63;
  /* background: red; */
}
p, h1{
  margin: 50px;

}
code{
  color: grey;
}
.contact,.about,.summery{
  /* border: 5px solid red; */
  display: flex;
  justify-content: center;
  height: 100%;
  padding: 50px;
  background: #e0e0e0;
  text-align: center;
  display: block;

}
img{
  width: 300px;
  height: 400px;
}
.pic{
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border: 1px solid red;
}
.intro{
  display: block;
  text-align: center;
}
